@import 'styles/variables';

.container {
  padding: 3rem 0;

  a {
    color: $pink;
    font-weight: 900;
    text-decoration: none;
  }
}

.backHome {
  margin: 1rem 0 0;
  font-weight: 900;
}

.avatar {
  position: relative;
  margin-right: 0.875rem;
  margin-bottom: 0;
  min-width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.description {
  max-width: 400px;
}
