.notFound {
  h1 {
    font-size: 252px;
    color: #262626;
    text-transform: uppercase;
    letter-spacing: -40px;
    margin-left: -20px;

    span {
      text-shadow: -8px 0 0 #fff;
    }
  }
}


