html,
body {
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

a:focus,
a:active {
  outline: none !important;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1 !important;
  border-width: 5px;
  border-radius: 6px;
}

.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.border-gradient-green {
  border-image-source: linear-gradient(to left, #00c853, #b2ff59);
}

aside {
  margin-bottom: 3.5rem;
}

time {
  font-family: Montserrat, sans-serif;
}

a {
  text-decoration: none !important;
}

p {
  line-height: 2;
}

blockquote > * {
  font-style: oblique;
  font-weight: 600;
}
