.avatar {
  position: relative;
  margin-right: 0.875rem;
  margin-bottom: 0;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.description {
  max-width: 300px;
}

.articleWrapper {
  margin-bottom: 3rem;
}
